@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&display=swap');
*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    background-color: #181719;
    color: #FFFFFF;
}
img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 0 1rem;
    max-width : 78rem;
    margin : 0 auto;
    overflow-x: hidden;
    min-height: 100vh;


}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0px;
    margin-bottom: 3rem;
}
header .brand{
    border: 1px solid #FFFFFF;
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 200;
    font-size: 1rem;
    line-height: 16px;
    text-transform: uppercase;
    padding: 10px;
    width: 8rem;
    text-align: center;
}
header .nav{
    position: fixed;
    z-index: 3;
    width: 0px;
    height: 100vh;
    top: 0;
    left: 0;
    padding-top: 10rem;
    background: #181719;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: width .4s ease-out;
    overflow: hidden;
}
header .nav li{
    list-style-type: none;
    display: block;
    margin-bottom: 30px;
    text-align: center;
    padding: 5px 5px;
}
header .nav li a{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 22px;
}

header.hamburger-clicked .nav{
    width: 100%;
}
header .nav li a:hover{
    border-bottom: 2px solid #FFFFFF;
}
header .hamburger{
    cursor: pointer;
    z-index: 4;
   
    padding: .5rem 0;
}
header .hamburger .bar{
    width: 25px;
    height: 3px;
    background-color: #FFFFFF;
    position: relative;
    border-radius: 10px;
 
}
header .hamburger .bar1{
    top: -6px;
}
header .hamburger .bar3{
   
    top: 6px;
 
}

header.hamburger-clicked .bar2{
    background-color: transparent;
}
header.hamburger-clicked .bar1{
    transform: rotate(45deg);
    top: 3px;
}
header.hamburger-clicked .bar3{
    transform: rotate(-45deg);
    top: -3px;
}

.main{
    min-height: 50%;
    margin: auto;
}
.main .text-container, .main .img-container{
    margin: 10px 0;
}

.main .text-container h1{
    font-family: Lora;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 46px;
    padding: 0px 0 10px 0;
}
.main .img-container h2{

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: .9rem;
    line-height: 12px;
    color: #828282;
}

.main .text-container > div{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: .9rem;
    line-height: 17px;
    padding: 10px 0;
    color: #FFFFFF;
    width: 60%;
}
.main .text-container .button{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: .9rem;
    line-height: 17px;
    padding: 20px 0;
    font-weight: bold;
}

.main .text-container .button a, .main .text-container .button i{
    display: inline-block;

}

.main .text-container .button i{
    margin: 0 10px;
}
.main .img-container .designer-container{

    width: 90%;
    margin: auto;
    background: #181719;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    bottom: 60px;
    padding: 20px;

  
}

.main .img-container .designer-container .img-name{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.main .img-container .designer-container .img{
    width: 22%;
    margin-right: 10px;
}
.main .img-container .designer-container img{
    border-radius: 50%
    
}
.main .img-container .designer-container .name{
    width: 70%;
}

.main .img-container .designer-container div h1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: .8rem;
    line-height: 15px;
}

.main .img-container .designer-container .crypto{
    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 23px;
    width: 70%;
    margin-left: 10px;
}

footer{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: .9rem;
    line-height: 17px;
    text-align: center;
    color: #A9A9A9;
    padding : 2rem 0 2rem 0;

}

@media all and (min-width:1024px){
   
    header .hamburger{
        display: none;
    }
    header .nav{
        position: static;
        align-items: flex-end;
        height: initial;
        width: 70%;
        padding-top: 0;
        
    }
    /*if we enlarge the screen without closing the navbar*/
    header.hamburger-clicked .nav{
        position: static;
        width: 70%;
        height: initial;
    }
    header .nav ul{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
    header .nav li {
        margin-right: 5%;
        margin-bottom: 0px;
        
        
    }
    header .nav li:last-child{
        margin-right: 0px;
    }
    .main{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 10px;
    }
    .main .img-container{
        grid-column: 6 / span 12;
    }
    .main .text-container{
        grid-column-start: 1;
        grid-column-end: 5;
    }
    .main .text-container > div{
        width: 100%;
        font-size: 1.1rem;
        line-height: 29px;
    }
    .main .text-container h1{
        line-height: 61px;
    }
    .main .img-container h2{


        line-height: 15px;
    }

}